# Python (Django) ignores
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
*.swp
*.bak
.DS_Store
.Python
.env
venv/
ENV/
env/
*.sqlite3
*.log


# Node.js (React) ignores
node_modules/
yarn-error.log
.pnp/
.pnp.js
.eslintcache

# Log files
*.log
logs/
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Visual Studio Code ignores
.vscode/

